.sideDoc {
  display: flex; //home class is sidebar

  .navDoc { //homeContainer class is navbar

    flex: 2; //used to divide both sidebar and navbar
    margin-left: 250px; //used to get the space between sidebar and navbar
  }
}

.mainContentDocBooking{
  display: grid;
  color: #000;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 80% */
  padding-top: 10px;
  max-width: 2000px;
  margin: 7% 10% 10% 6%;
}
.subContentDocBooking{
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 111.111% */
  padding-top: 10px;
  margin-bottom: 40px;
}
.MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 MuiTableContainer-root css-11xur9t-MuiPaper-root-MuiTableContainer-root{
  box-shadow: #EEE7FF;
}
