@tailwind components;
@tailwind utilities;


.homelu{
    display: flex;    //home class is sidebar 

    .homeContainer2lu{ //homeContainer class is navbar 

        flex: 6;     //used to divide both sidebar and navbar 
        margin-left: 300px;    //used to get the space between sidebar and navbar
    }

    .widgetslu , .chartslu{
        display: flex;    //use to get horizontal given datas
        padding: 20px;
        gap: 20px;   //get the space
        margin-top: 10px;
        z-index: 1;    //used to get the top of the page
    }

    .chartslu{
        padding: 5px 20px;        
    }

    .listContainerlu{
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);    //use to get some box to write some contient in side the box
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
        margin: 20px;

        .listTitlelu{
            font-weight: 500;
            color: gray;
            margin-bottom: 15px;
        }
    }

    .bodyContainerLu{
        margin: 40px;
        margin-top: 100px;
    }

    .mainTopic{
        margin-left: 20px;
        font-weight: 500;
        font-size: 25px;
    }

    .subTopic{
        margin-left: 20px;
        font-size: 18px;
        font-weight: lighter;


    }

    .purpleText{
        color: #855CDD;
    }

    .hero_image{
        width: 500px;

        img {
                height: 400px; // Apply height to the img tag
                object-fit: cover; // Ensures the image covers the specified height while maintaining aspect ratio
            }
    }
}

