.sideDoc {
  display: flex; //home class is sidebar

  .navDoc { //homeContainer class is navbar

    flex: 2; //used to divide both sidebar and navbar
    margin-left: 300px; //used to get the space between sidebar and navbar
  }
}

.mainView {
  color: #000;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 80% */
  padding-top: 50px;
  max-width: 2000px;
  margin: 4% 30% 10% 8%;
}

.subView {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 111.111% */
  padding-top: 10px;
  max-width: 1000px;
}

.contentView {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 111.111% */
  padding-top: 80px;
  max-width: 1000px;
}

.line {
  margin-bottom: 16px; /* Adjust the value as needed */
}