.navbar {
    height: 60px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    z-index: 1000;
    width: 100%;
    margin-right: 150px;
    position: fixed;
}


.navContainer {
    background-color: transparent;
    margin-top: 10px;
    width: 100%;
    color: #855CDD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
}

.navButtons {
    display: flex;
    gap: 20px;
}

.logo {
    font-weight: 100;
    font-size: 20px;
    width: 150px;
    height: auto;
}

.navButton {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    width: 100px;
    text-align: center;
    display: flex;
    padding: 17px 56px;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.filledButton {
    color: white;
    background-color: #855CDD;
}

.outlinedButton {
    color: #855CDD;
    background-color: transparent;
    border: 2px solid #855CDD;
    margin-right: 50px;
}
