.navbar {
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: center;
    z-index: 1000;
    width: 100%;
    margin-right: 150px;
}

.navContainer {
    background-color: white;
    margin-top: 10px;
    width: 100%;
    color: #855CDD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
}
.newItem{
    margin-left: 800px;
    margin-right: 100px;
}
.logo {
    font-weight: 100;
    font-size: 20px;
    width: 150px;
    height: auto;
}

.navleft{
    margin-left: 50px;
}

.navButton {
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    color: white;
    background-color: #855CDD;
    gap: 10px;
    margin-bottom: 6px;

}

.filled{
    color: white;
    background-color: #855CDD;
    width: 100px;
}

.outlined{
    color:#855CDD;
    background-color: transparent;
    border: 2px solid #855CDD;
    margin-right: 50px;
    width: 100px;
}