.sideDoc {
  display: flex; //home class is sidebar

  .navDoc { //homeContainer class is navbar

    flex: 2; //used to divide both sidebar and navbar
    margin-left: 300px; //used to get the space between sidebar and navbar
  }
}



  .widgetsDoc , .chartsDoc{
    display: flex;    //use to get horizontal given datas
    padding: 20px;
    gap: 20px;   //get the space
    margin-top: 10px;
    z-index: 1;    //used to get the top of the page
  }

  .chartsDoc{
    padding: 5px 20px;
  }

  .listContainerDoc{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);    //use to get some box to write some contient in side the box
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 20px;
    margin: 20px;

    .listTitleDoc{
      font-weight: 500;
      color: gray;
      margin-bottom: 15px;
    }
  }

  .bodyContainerDocHome{
    margin: 40px;
    margin-top: 100px;
  }

  .mainTopicDocHome{
    margin-left: 20px;
    font-weight: 500;
    font-size: 25px;
  }

  .subTopicDocHome{
    margin-left: 20px;
    font-size: 18px;
    font-weight: lighter;


  }

  .purpleTextDoc{
    color: #855CDD;
  }

  .hero_image{
    width: 500px;
  }
