.sideNurse{
  display: flex;    //home class is sidebar

  .navNurse{ //homeContainer class is navbar

    flex: 2;     //used to divide both sidebar and navbar
    margin-left: 300px!important;    //used to get the space between sidebar and navbar
  }



  .widgetsNurse , .chartsNurse{
    display: flex;    //use to get horizontal given datas
    padding: 20px;
    gap: 20px;   //get the space
    margin-top: 10px;
    z-index: 1;    //used to get the top of the page
  }


  .patientUpdate{
    display: flex;    //use to get horizontal given datas

    gap: 20px;   //get the space
    margin-top: 10px;
    margin-left: 20px;
    z-index: 1;    //used to get the top of the page
  }




  .chartsNurse{
    padding: 5px 20px;
  }

  .listContainerNurse{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);    //use to get some box to write some contient in side the box
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 20px;
    margin: 20px;

    .listTitleNurse{
      font-weight: 500;
      color: gray;
      margin-bottom: 15px;
    }
  }

  .bodyContainerNurseHome{
    margin: 40px;
    margin-top: 100px;
  }

  .mainTopicNurseHome{
    margin-left: 20px;
    font-weight: 500;
    font-size: 25px;
  }


  .TopicNurseHome{
    margin-top: 50px;
    margin-left: 20px;
    font-weight: 500;
    font-size: 25px;
  }

  .subTopicNurseHome{
    margin-left: 20px;
    font-size: 18px;
    font-weight: lighter;


  }

  .purpleTextNurse{
    color: #855CDD;
  }

  .hero_image{
    width: 500px;
  }
}